@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Wix+Madefor+Display:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Wix Madefor Display', sans-serif;
    text-decoration: none;
    list-style: none;
}

.inner-width{
    padding: 2rem 4rem;
}

body{
    background: rgb(253,208,10);
    background: radial-gradient(circle, rgba(253,208,10,1) 0%, rgba(241,126,19,1) 25%, rgba(241,126,19,1) 75%, rgba(253,208,10,1) 100%); 
    color: #FBF0CB;
}
/* header section*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    width: 200px;
}

header .logo img{
    width: 100%;
    transition: .2s ease-in-out;
}

header .logo img:hover{
    filter: drop-shadow(4px 10px rgba(0, 0, 0, 0.1));
}

header .navlinks{
    display: flex;
    gap: 2rem;
}

header .navlinks li a, .download{
    color: #FBF0CB;
    font-weight: 600;
    font-size: 1.1rem;
    border-bottom: 2px solid transparent;
    transition: .2s ease-in-out;
}
header .navlinks li a:hover{
    border-bottom: 2px solid #FBF0CB;
}

header .download{
    display: inline-block;
    border: none;
    padding: 12px 16px;
    border-radius: 25px;
    background: rgba(251, 240, 203, 0.2);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.1px);
    -webkit-backdrop-filter: blur(6.1px);
    animation: beat 2s infinite ease-in-out;
}

@keyframes beat {
    0%{
        transform: scale(1.1);
    }
    50%{
        transform: scale(0.9,0.9);
    }
    100%{
        transform: scale(1.1);
    }
}

header .download:hover{
    animation-play-state: paused;
}

header .download i{
    margin-left: 8px;
}

label .wrapMenu{
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid #FBF0CB;
    padding: 8px;
    border-radius: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background: rgba(251, 240, 203, 0.2);
    transition: .2s ease-in-out;
    display: none;
}
label .wrapMenu:hover{
    background: #ff7700;
}

#check{
    display: none;
}

/* sección principal */
section{
    padding: 5rem;
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    position: relative;
}

.hero .platforms i{
    display: inline-block;
}

.hero-text h2{
    font-size: 2rem;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 16px;

}

.hero-text p{
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5;
    opacity: .8;
    margin-bottom: 12px;

}

.hero-text .btn{
    margin-bottom: 0;
    display: inline-flex;
    border: solid 1px #FBF0CB;
    border-radius: 25px;
    align-items: center;
    gap: 8px;
    color: #FBF0CB;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 12px 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: .3s ease-in-out;
    margin-bottom: 20px;

}
.btn:hover{
    transform: scale(1.1);
}

.cta{
    background: #ff7700;
    margin-right: 20px;
}

.hero-text .platforms i{
    font-size: 1.5rem;
    margin-right: 2rem;
    cursor: pointer;
}

.hero-text .platforms i:hover{
    filter: drop-shadow(4px 10px rgba(0, 0, 0, 0.1));
}

.hero .hero-image{
    filter: drop-shadow(5px 10px 0px rgba(0, 0, 0, 0.2));
    animation: slide 2s ease;
}

@keyframes slide{
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0%);
    }
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(222,70,38);
    background: radial-gradient(circle, rgba(222,70,38,1) 0%, rgba(42,19,16,1) 100%); 
    text-align: center;
    position: relative;
}

footer .capLogo{
    width: 100px;
}

footer .capLogo img{
    width: 100%;
}

footer .author{
    font-weight: 500;
    font-size: 1.2rem;
}

footer .social-media a i{
    display: inline-block;
    color: #FBF0CB;
    padding: 6px;
    margin-right: 6px;
    border: none;
    border-radius: 100%;
    background: transparent;
    transition: .2s ease-in-out;
}
footer .social-media a i:hover{
    transform: scale(1.1);
    background: #ff7700;
}

/* mediaquerys: 
 /* Extra small devices (phones, 600px and down) 
 @media only screen and (max-width: 600px) {...}

 /* Small devices (portrait tablets and large phones, 600px and up) 
 @media only screen and (min-width: 600px) {...}
 
 /* Medium devices (landscape tablets, 768px and up) 
 @media only screen and (min-width: 768px) {...}
 
 /* Large devices (laptops/desktops, 992px and up) 
 @media only screen and (min-width: 992px) {...}
 
 /* Extra large devices (large laptops and desktops, 1200px and up) 
 @media only screen and (min-width: 1200px) {...} 

*/

@media(max-width: 1200px){
    .inner-width{
        padding: 2rem;
    }

    section{
        padding: 1rem 3rem;
    }

    .hero{
        align-items: space-between;
    }
}

@media(max-width: 998px){
    header.inner-width{
        padding: 3rem;
    }

    header .logo{
        width: 160px;
    }

    .hero .hero-text h2{
        font-size: 1.7rem;
    }

    .hero .hero-text p{
        font-size: 1.1rem;
    }

    .hero .btn{
        font-size: 1rem;
    }

    .hero .hero-image img{
        width: 400px;
    }
}

@media(max-width: 768px){

    header{
        flex-direction: column;
        gap: 3rem;
    }

    .hero{
        flex-wrap: wrap;
    }

    .hero-image{
        order: -1;
    }
}

@media(max-width: 600px){

    .inner-width{
        padding: 2rem;
    }
    
    footer{
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 12px;
        align-content: center;
    }

    footer .author{
        order: 1;
    }

    footer .author{
        font-size: 1rem;
    }

    footer .social-media{
        align-content: center;
    }
}
@media(max-width: 480px){

    label .wrapMenu{
        display: block;
        position: absolute;
        top: 2rem;
        right: 2rem;
        z-index: 10001;
    }

    header{
        background: rgb(222,70,38);
        background: radial-gradient(circle, rgba(222,70,38,1) 0%, rgba(42,19,16,1) 100%);
        transition: all .3s ease-in-out;
        position: fixed;
        width: 100%;
        height: auto;
        top: 0;
        left: -100%;
        z-index: 1000;
    }

    #check:checked ~ header{
        left: 0;
    }

    header .navlinks{
        flex-direction: column;
        align-items: center;
    }
    section{
        margin-top: 180px;
    }
}

@media(max-width: 320px){

    section{
        padding: 1.1rem;
        margin-top: 160px;
    }

    .hero .hero-image img{
        width: 260px;
    }

    footer{
        flex-direction: column;
    }

}