@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Wix+Madefor+Display:wght@400;500;600;700&display=swap');

:root{
    --white: #FBF0CB;
    --orange: #f17e13;
    --hoverOrange: #ff7700;
    --yellow: #fdd00a;
    --coffee: #2a1310;
    --transition: all ease .5s;
    --buttonPadding: 12px 16px;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Wix Madefor Display', sans-serif;
    text-decoration: none;
    list-style: none;
    outline: none;
}

html{
    overflow-x: hidden;
}

.inner-width{
    padding: 2rem 4rem;
}

body{
    background: rgb(241,126,19);
    background: radial-gradient(circle, rgba(241,126,19,1) 50%, rgba(253,208,10,1) 100%); 
    color: var(--white);
}

/** starts header section **/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    width: 200px;
}

header .logo img{
    width: 100%;
    transition: var(--transition);
}

header .logo img:hover{
    filter: drop-shadow(4px 10px rgba(0, 0, 0, 0.1));
    -webkit-filter:  drop-shadow(4px 10px rgba(0, 0, 0, 0.1));
}

header .navlinks{
    display: flex;
    gap: 4em;
}

header .navlinks li a, .button{
    color: var(--white);
    font-weight: 600;
    font-size: 1.1em;
    transition: var(--transition);
}
header .navlinks li a:hover{
    font-size: 1.3em;
}

header .navlinks:hover > :not(:hover){
    opacity: .5;
}

.button{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    border: 1px solid transparent;
    padding: var(--buttonPadding);
    border-radius: 25px;
    background: rgba(251, 240, 203, 0.2);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.1px);
    -webkit-backdrop-filter: blur(6.1px);
    animation: beat 2s infinite ease-in-out;
}

@keyframes beat {
    0%{
        transform: scale(1.1);
    }
    50%{
        transform: scale(0.9,0.9);
    }
    100%{
        transform: scale(1.1);
    }
}

.button:hover{
    animation-play-state: paused;
    background: var(--hoverOrange);
    border: solid 1px var(--white);
}

header .playNow i{
    margin-left: 8px;
}

/* shrink menu */
label .wrapMenu{
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid var(--white);
    padding: 8px;
    border-radius: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background: rgba(251, 240, 203, 0.2);
    transition: var(--transition);
    display: none;
}
label .wrapMenu:hover{
    background: var(--hoverOrange);
}

#check{
    display: none;
}
/** ends header section **/
/*---------------------------------------------*/


/** starts main/hero section **/

.hero{
    padding: 4em;
    display: flex;
    justify-content: space-between;
    gap: 4em;
    align-items: center;
    position: relative;
}

.hero .platforms i{
    display: inline-block;
}

.hero-text h2{
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 16px;
}

.hero-text p{
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 16px;
}

.hero-text .btn{
    margin-bottom: 24px;
    animation: none;
}
.btn:hover{
    transform: scale(1.1);
}

.btn:first-of-type{
    background: var(--hoverOrange);
    margin-right: 1.5em;
}

.hero-text .platforms i{
    font-size: 1.5em;
    margin-right: 2em;
    color: var(--coffee);
    filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.2));
    -webkit-filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.2));
}

.hero .hero-image{
    filter: drop-shadow(5px 10px 0px rgba(0, 0, 0, 0.2));
    -webkit-filter: drop-shadow(5px 10px 0px rgba(0, 0, 0, 0.2));
    animation: slide 2s ease;
}

@keyframes slide{
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0%);
    }
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(241,126,19);
    background: radial-gradient(circle, rgba(241,126,19,1) 0%, rgba(36,19,16,1) 100%); 
    text-align: center;
}

footer .capLogo{
    width: 100px;
}

footer .capLogo img{
    width: 100%;
}

footer .author{
    font-weight: 500;
    font-size: 1.2rem;
}

footer .social-media a i{
    display: inline-block;
    color: #FBF0CB;
    padding: 6px;
    margin-right: 6px;
    border: none;
    border-radius: 100%;
    background: transparent;
    transition: .2s ease-in-out;
}
footer .social-media a i:hover{
    transform: scale(1.1);
    background: #ff7700;
}

/* mediaquerys: 
 /* Extra small devices (phones, 600px and down) 
 @media only screen and (max-width: 600px) {...}

 /* Small devices (portrait tablets and large phones, 600px and up) 
 @media only screen and (min-width: 600px) {...}
 
 /* Medium devices (landscape tablets, 768px and up) 
 @media only screen and (min-width: 768px) {...}
 
 /* Large devices (laptops/desktops, 992px and up) 
 @media only screen and (min-width: 992px) {...}
 
 /* Extra large devices (large laptops and desktops, 1200px and up) 
 @media only screen and (min-width: 1200px) {...} 

*/

@media(max-width: 1200px){
    .inner-width{
        padding: 2rem;
    }

    section{
        padding: 1rem 3rem;
    }

    .hero{
        align-items: space-between;
    }
}

@media(max-width: 998px){
    header.inner-width{
        padding: 3rem;
    }

    header .logo{
        width: 160px;
    }

    .hero .hero-text h2{
        font-size: 1.7rem;
    }

    .hero .hero-text p{
        font-size: 1.1rem;
    }

    .hero .btn{
        font-size: 1rem;
    }

    .hero .hero-image img{
        width: 400px;
    }
}

@media(max-width: 768px){

    header{
        flex-direction: column;
        gap: 3rem;
    }

    .hero{
        flex-wrap: wrap;
    }

    .hero-image{
        order: -1;
    }
}

@media(max-width: 600px){

    .inner-width{
        padding: 2rem;
    }
    
    footer{
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 12px;
        align-content: center;
    }

    footer .author{
        order: 1;
    }

    footer .author{
        font-size: 1rem;
    }

    footer .social-media{
        align-content: center;
    }
}
@media(max-width: 480px){

    label .wrapMenu{
        display: block;
        position: absolute;
        top: 2rem;
        right: 2rem;
        z-index: 10001;
    }

    header{
        background: rgb(222,70,38);
        background: radial-gradient(circle, rgba(222,70,38,1) 0%, rgba(42,19,16,1) 100%);
        transition: all .3s ease-in-out;
        position: fixed;
        width: 100%;
        height: auto;
        top: 0;
        left: -100%;
        z-index: 1000;
    }

    #check:checked ~ header{
        left: 0;
    }

    header .navlinks{
        flex-direction: column;
        align-items: center;
    }
    section{
        margin-top: 180px;
    }
}

@media(max-width: 320px){

    section{
        padding: 1.1rem;
        margin-top: 160px;
    }

    .hero .hero-image img{
        width: 260px;
    }

    footer{
        flex-direction: column;
    }

}